# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**: 

- List of popular Languages of Data Science
- Commonly used libraries in Data Science
- Simple Arithmetic expression in Python
- Making Tabular Tables

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java Script

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. matplotlib
4. Sckikit
5. Keras
6. TensorFlow

|Data Science Tools|
|------------------|
|IBM Watson Studio|
|RStudio|
|Visual Studio Code|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60

#60 mins = 1hour
#200mins = x 

result =(200/60)*1
print(result)

3.3333333333333335

## Author 
Anna Mary Mathew